<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>{% block title %} Clasificadogs {% endblock %}</title>
</head>
<body style="margin: 0; font-family: Arial, sans-serif; background: #e8dbd0; color: #333;">

 {% block header %}
  <!-- Encabezado -->
  <header style="background-color: #D23B68; padding: 20px; text-align: left; color: white;">
    <h1 style="margin: 0;"> ENCONTRADOG </h1>
    <p style="margin: 0;">¡Qué bueno que viniste! Estás en el lugar correcto para encontrar a tu amigo de 4 patas</p>
  </header>
{% endblock %}
  <!-- Contenido principal -->
  <main style="padding: 40px; text-align: center;">
    {% block content %}
    <h2 style="color: #4CAF50;"> ADOPTÁ </h2>
    <p style="max-width: 600px; margin: 0 auto 30px;">
      Nuestro sitio te permitirá ponerte en contacto con otros amantes de los peluditos !
    </p>
    {% endblock %}
    <!-- <a href="#servicios" style="display: inline-block; padding: 10px 20px; background-color: #4CAF50; color: white; text-decoration: none; border-radius: 5px;">
      Ver más
    </a> -->
  </main>


  <footer style="background-color: white; color: #D23B68; text-align: center; padding: 15px; margin-top: 40px;">
    <p style="margin: 0;">&copy; 2025 Clasificadogs. Todos los perritos encontrados.
</p>
  </footer>

</body>
</html> 