{% extends "padre.html" %}

{% block title %} Desarrolladora {% endblock %}

{% block content %}
<div style="border: 4px solid rgb(83, 4, 4); padding: 20px; background-color: #ddceba;">
<p class="subheading" style="font-size: 23px;">Hola ! Soy Melina.</p>
<p class="subheading" style="font-size: 23px;">Socióloga, estudiante de estadística, y por sobre todo amante de los perros.</p>
<p class="subheading" style="font-size: 23px;">Por eso he creado esta red de ayuda a los peluditos.</p>
<p class="subheading" style="font-size: 23px;">Gracias por tu atención, espero que disfrutes el recorrido y nos ayudes desde el lugar que te sea posible !!!</p>
</div>
<br>
<br>


{% endblock %}