{% extends "padre.html" %}

{% block title %} Crear amigo {% endblock %}

{% block content %}

<h2> Buscar amigos </h2>

<form method="GET" action="{% url 'buscar_amigos'%}">
    <input type="text" name="nombre" placeholder="Buscar amigos..." value="{{ nombre }}">
    <button type="submit">Sorpréndanme</button> 
</form>


<h2>Amigos: </h2>

<ul style="list-style-type: none;">

    {% for Amigo in amigo %}
    <li style=" text-align: center;">{{Amigo.nombre}}</li>
    {% empty %}
    <li style=" text-align: center;">No hay amigos buscando hogar en este momento, volvé pronto !</li>
    {% endfor %}


</ul>

<a href="{% url 'crear_amigo'%}">Crear amigo</a>

{% endblock %}