{% extends "padre.html" %}

{% block title %} Clasificadogs {% endblock %}

{% block content %}
<div style="border: 4px solid rgb(83, 4, 4); padding: 20px; background-color: #ddceba;">
<p class="subheading" style="font-size: 23px;">Rescatamos perros que son recibidos por los transitadores (con opción a adopción), luego de nuestra evaluación a partir de la información suministrada y entrevista, teniendo en cuenta las características de ambas partes.</p>
<p class="subheading" style="font-size: 23px;">También disponemos de una red de ayuda mediante pedidos y donaciones.</p>
<p class="subheading" style="font-size: 23px;">Es un espacio colaborativo donde apelamos a la buena fe de la comunidad.</p>
<p class="subheading" style="font-size: 23px;">Acompañanos !!!</p>
</div>
<br>
<br>


{% endblock %}





 