{% extends "padre.html" %}

{% block title %} Lista SOS {% endblock %}

{% block content %}

<h2>Lista de pedidos de ayuda de refugios, podés acercarlos a los locales de la "Red de ayuda mascotera" o coordinar un punto de encuentro en este sitio: </h2>

<ul style="list-style-type: none;">

    {% for SOSrefugio in listaSOS %}
    <li style=" text-align: center;">{{SOSrefugio.nombre}} - {{SOSrefugio.objeto_solicitado}}</li>
    {% empty %}
    <li style=" text-align: center;">No hay refugios esperando donaciones en este momento !</li>
    {% endfor %}


</ul>

{% endblock %}